{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <style>
      *{
        padding:0;
        margin:0;
      }
        #img
        {
            width:15rem;
            height:20rem;
            border-bottom-right-radius: 90%;
            filter: brightness(60%);
        } 
    </style>
  </head>
  <body>
      <img src="{%static 'images/img-1.jpg'%}" id="img">
  </body>
</html>