<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <style>
        #img
        {
            width:110%;
        }
        #con_img
        {
            width:20rem;
            height:40rem;
            border-bottom-right-radius: 30%;
            position: absolute;
            top:0;
            left:0;

        }
    </style>
  </head>
  <body>
    <div id="con_img">
        <img src="{%static 'images/img-1.jpg'%}" id="img">
    </div>
  </body>
</html>